body {
    margin-top: 2em;
}

#results > div {
    margin: 1em;
}

.glyphicon.glyphicon-exclamation-sign {
    color: red;
}

.glyphicon.glyphicon-ok-sign {
    color: green;
}

.glyphicon.glyphicon-info-sign {
    color: grey;
}

